@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,900&display=swap'); */

/* <uniquifier>: Use a unique and descriptive class name */
.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
}

:root {
    /* Primary */
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-dark-desaturated-cyan: hsl(167, 40%, 24%); /*  graphic design text */
    --primary-dark-blue: hsl(198, 62%, 26%); /*  photography text */
    --primary-dark-moderate-cyan: hsl(168, 34%, 41%); /*  footer */
    
    /* Neutral */
    --neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-grayish-blue: hsl(210, 4%, 67%);
    --neutral-white: hsl(0, 0%, 100%);
    
    /* font body copy */
    --fs-body-copy: 18px;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    /* background-color: coral; */
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.hero {
    display: grid;
}

.hero-image {
    /* border: 5px black dashed; */
    width: 100%;
    height: auto;
    grid-area: 1/-1;
    /* object-fit: cover; */
    z-index: -1;
}

.hero-overlay {
    grid-area: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;

    /* position: relative; */
}

.hero-text {
    /* font-size: 2.75rem; */
    font-size: 3rem;
    letter-spacing: .1em;
    text-align: center;
    color: var(--neutral-white);
    text-transform: uppercase;
}

.arrow-down {
    object-fit: cover; 
    min-height: 0;

    animation: 1.5s ease-in-out 0s infinite alternate pointing;
}

@keyframes pointing {
    from {
        transform: translateY(-4em);
    }
    to {
        transform: translateY(-1em);
    }
}
/* problem is in here */
.menubar {
    grid-area: 1/-1;
    /* background-color: rgba(87, 78, 65, .3); */
    
    display: flex;
    /* splits the logo and the navbar apart */
    justify-content: space-between;
    /* without this the flex of the navbar extends the full height of the grid area it is in because the image is that tall */
    /* and the hamburger is placed in middle of it */
    align-items: start;
}

.logo {
    /* next two lines are just to make the logo a bit bigger */
    padding: 1em;
    outline: 2px blue dashed;
}

nav {
    /* colors don't exist yet */
    background-color: var(--primary-color, white);
    border-bottom: 1px solid var(--hover-color);
}

@media screen and (max-width: 700px) {
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--hover-color);
        transition: right 300ms ease-in-out;
    }
}

nav ul {
    list-style: none;
}

nav li {
    display: flex;
}

nav a {
    /* display: flex; */
    /* width 100% so that the hover effect will take place on mobile */
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    padding: 1em 2em 1em 2.5em;
    transition: background-color 150ms ease;
}

nav a:hover {
    /* no colors yet */
    background-color: var(--hover-color);
}

nav a.accent-link {
    /* no colors yet */
    background-color: var(--accent-color);
}
/* places hamburger icon on the right */
/* #open-sidebar-button {
    margin-left: auto;
} */

#open-sidebar-button,
#close-sidebar-button {
    margin-left: auto;
    display: block;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

nav.show {
    right: 0;
}

nav.show~#overlay {
    display: block;
}

.skip-link {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: var(--accent-color);
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.skip-link:focus {
    opacity: 1;
    pointer-events: auto;
    outline: 3px solid #ffffff;
}

.features .panel {
    display: grid;



}

.panel picture,
.panel .text {
    /* for the feature that stacks image and text over each other */
    grid-area: 1/-1;
    max-width: 40em;

    /* height: 50%; */
}


.text {
    /* makes the h3s start at the same position for both cherry and kumquat */
    /* TODO: for the egg and cup though, it's weird for now */
    height: 40%;

    /* works for 375px viewport, 3 lines for cherry and kumquat */
    padding-inline: 1em;
    text-align: center;
    align-self: end;
}

.text h3 {
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
}
.text p {
    font-family: "Barlow", serif;
}
/* for the egg and cup panels which has <a> links */
.text a {
    font-family: "Fraunces", serif;
}
/* spacing between any element within the .text class */
.text > * {
    padding-bottom: 1em;
}

.clients {
    /* padding-top: 2em;
    padding-bottom: 2em; */
    padding-block: 20vh;
    

    /* display: flex;
    flex-direction: column; */
    
    text-align: center;
}

.clients h4 {
    text-transform: uppercase;
    letter-spacing: .3em;
    /* color: var(--neutral-very-dark-grayish-blue); */
}

.clients h4,
.customer_position {
    color: var(--neutral-very-dark-grayish-blue);
}

.card {
    /* limit card width to: */
    max-width: 22em;
    /* separates each card vertically */
    margin-top: 2em;
    /* centers the card horizontally*/
    margin-inline: auto;
}

.card > * {
    /* centers elements inside the card */
    /* for the image */
    margin: 0 auto;
    /* for the text */
    text-align: center;     
}

.card .comment,
.card .customer_position {
    font-family: "Barlow", sans-serif;
    /* spaces all p elements vertically */
    padding-block: 1.5em;
}

.card .customer {
    font-family: "Fraunces", serif;
    /* spaces all p elements vertically */
    padding-block: 1.5em;
}

.card img {
    /* rounds the image */
    border-radius: 50%;
    /* sizes it accordingly */
    width: 3em;
}

.photo-bar {
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
}

.photo-bar picture {
    /* allows two images side-by-side */
    width: 50%;
}

footer {
    background-color: var(--primary-dark-moderate-cyan);
    padding: 2em;
    height: 20em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.lower-links, .socials {
    /* sets width. Not max-width, doing that would bunch up the lists */
    width: 18em;
    /* removes the bulletpoints */
    list-style: none;
    /* puts li(s) side-by-side */
    display: flex;
}

.lower-links {
    /* spaces items apart */
    justify-content: space-between;
}
.socials {
    /* to adhere more closely to the design */
    margin-top: 2em;
    /* spaces items apart */
    justify-content: space-evenly;
}
/* footer svg {
    margin: 0 auto;
    margin-bottom: 2em;
} */
.sunnyfooter {
    fill: var(--primary-dark-desaturated-cyan)
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-color: var(--neutral-white);
    width: 100%;
}


.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 701px) {
    /* hides the hamburger and 'x' button on larger viewports */
    #open-sidebar-button,
    #close-sidebar-button {
        display: none;            
    }
    
    /* places navigation items in a line in a larger viewport */
    nav ul {
        display: flex;
    }
    
    /* sets equal padding left-right for each link */
    nav a {
        padding-left: 2em;
    } 
    
    /*  */
    /* nav a:hover {
        border-bottom: 2px solid var(--text-color);
    } */
    
    /* only for multipage links, or maybe SPAs */
    nav a.active-link {
        border-bottom: 2px solid var(--text-color);
    }
    
    /* shifts the other list items to the right side */
    nav .home-li {
        margin-right: auto;
    }
    
    /* switches the overlay off, if the mobile menu is 'shown' when the browser viewport is dragged/maximized */
    nav.show~#overlay {
        display: none;
    }

    
    .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .features:first-of-type {
        flex-direction: row-reverse;
    }

    /* .features .panel {
        min-width: 0;
        max-width: 40%;
    } */
    
    .text {
        margin: 0 auto;
        
        padding-inline: 9em;
    }

    
    .egg + .text,
    .cup + .text {
        text-align: left;
        align-self: center;

        height: 100%;
        width: 30%;

        /* padding-inline: 0; */
    }
    
    .testimonials {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        /* max-width: 22em; */
    }

    .photo-bar picture {
        width: 25%;
    }
}