@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    /* Primary */
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-yellow-shade: hsla(51, 100%, 49%, 0.35);
    --primary-dark-desaturated-cyan: hsl(167, 40%, 24%); /*  graphic design text */
    --primary-dark-blue: hsl(198, 62%, 26%); /*  photography text */
    --primary-dark-moderate-cyan: hsl(168, 34%, 41%); /*  footer */
    
    /* Neutral */
    --neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-grayish-blue: hsl(210, 4%, 67%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-white-shade: hsla(0, 0%, 100%, 0.35);
    --neutral-white-shade2: hsla(0, 0%, 100%, 0.8);
    --neutral-black: hsla(0, 0%, 0%);
    
    /* font body copy */
    --fs-body-copy: 18px;
    --navbar-padding-block: 1em;
    /* 700-1440px, 1.5-2rem */
    --navbar-padding-inline: clamp(1.5rem, 1.027rem + 1.0811vw, 2rem);
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--neutral-very-dark-desaturated-blue);
}

/* Sets max width for the design as per the FEM guidelines and centers it */
.container {
    /* adheres to the design */
    max-width: 1440px;
    /* centers container */
    margin: 0 auto;
}

/* Sets up the hero section and header-wrapper */
.hero {
    display: grid;
    /* grid of seven rows */
    grid-template-rows: repeat(7, 1fr);
    /* without this, there's a black area between hero section and main-feature. */
    aspect-ratio: 108/155;
}

/* Places image:orange and moves it back */
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* stretches it to the entire grid */
    grid-area: 1/1/-1/-1;
}

.hero-text {
    grid-area: 3/1/4/-1;
    align-self: center;
    font-family: "Fraunces", serif;
    /* 375-1440px, 2.75-3.25rem */
    font-size: clamp(2.75rem, 2.5739rem + 0.7512vw, 3.25rem);
    /* padding declared so hero text will wrap before the text touches the viewport sides */
    padding-inline: 1rem;
    line-height: 1.2;
    letter-spacing: .1em;   /* Fraunces is a variable font, there may be other ways to control letter-spacing */
    text-align: center;
    color: var(--neutral-white);
    text-transform: uppercase;
}

.arrow-down {
    grid-area: 4/1/6/-1;
    place-self: center;
    /* these two don't seem to have an effect at first glance */
    object-fit: cover; 
    min-height: 0;
    /* Arrow animation - starts from lower band and goes up. Alternate-reverse does this. */
    animation: 2.5s ease-in-out 0s infinite alternate-reverse pointing;
}

@keyframes pointing {
    /* from https://css-tricks.com/css-keyframe-animation-delay-iterations/ */
    
    0% {
        /* transform: scale(.5) translateY(2em); */ /* this works and arrow is smaller */
        transform: translateY(3em);
    }

    60%, 100% {
        /* transform: scale(.5) translateY(0em); */ /* this works and arrow is smaller */
        transform: translateY(0em);
    }
}

.header-wrapper {
    grid-area: 1/1/1/-1;
    
    display: flex;
    /* splits the logo and the navbar apart */
    justify-content: space-between;
    /* centers logo and navbar vertically */
    align-items: center;
    /* no additional padding-block required as the grid area is tall enough that 'align-items: center' is all that is needed */
    /* adds padding to left of logo, and right of navbar */
    padding-inline: 1.5em;
}

.logo {
    /* can be removed since there's an align-items: center above */
    /* Or, keep it so the clickable target area is larger */
    padding-block: .5em;
}

@media screen and (max-width: 700px) {
    .navbar {
        background-color: var(--neutral-white, white);
        position: fixed;
        /* WAS: left: 0; right: 0; */
        inset-inline: 0;
        /* WAS: top: 10em; */
        inset-block-start: 8em;
        /* keep popup menu centered */
        margin-inline: auto;        
        /* Below WAS: width: 85%; but the triangle was pointing in a different direction as the viewport is varied  */
        /* By using calc, the triangle always points to the bottom-right of the hamburger icon */
        /* the 3em below is the padding-inline of header-wrapper x2 */
        width: calc(100% - 3em);
        /* keeps menu above everything else */
        z-index: 10;
        /* keeps menu hidden by default until required */
        opacity: 0;
        visibility: hidden;        
    }

    /* utility class added via JS when button is clicked */
    .animate {
        transition: opacity 100ms ease-in-out;
    }

    /* the triangle on the upper right of the popup menu */
    .navbar::before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        /* WAS: top: -1.75em; */
        /* for no visible gap between triangle and menu proper */
        inset-block-start: -1.75em;
        /* WAS: right: 0; */
        inset-inline-end: 0;
        border-style: solid;
        border-width: 0 0 2em 2em;
        border-color: transparent transparent var(--neutral-white) transparent;
        transform: rotate(0deg);
    }    
}

.navbar__list {
    /* remove default the bullet points */
    list-style: none;
    /* padding added to adhere closer to the design */
    padding-block: 2em;
}

.navbar__item {
    /* without this in mobile mode, all items are bunched up together vertically */
    display: flex;
}

.navbar__link {
    text-align: center;
    font-family: "Barlow", serif;
    /* width 100% so that the hover effect will take place on mobile */
    width: 100%;
    /* removes default underline */
    text-decoration: none;
    /* font color */
    color: var(--neutral-very-dark-desaturated-blue);
    padding-block: var(--navbar-padding-block);
    padding-inline: var(--navbar-padding-inline);
    transition: background-color 150ms ease;
    /* could just add another 1em to bottom padding... */
    margin-block-end: 1em;
}

.navbar__link:hover {
    color: var(--neutral-black);
}

.navbar__link.accent-link {
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-size: .9em;
    /* margins are used here since padding is already used for the yellow 'capsule' shape.  */
    margin-inline: auto;
    margin-block-start: var(--navbar-padding-block);
    width: fit-content;
    background-color: var(--primary-yellow);
    border-radius: 2em;
}

.navbar__link.accent-link:hover {
    /* a lighter shade if hovered on */
    background-color: var(--primary-yellow-shade);
}

@media screen and (min-width: 700px) {
    /* can move these later below in the other media query, or leave here for readability */
    .navbar__link.accent-link {
        color: var(--neutral-very-dark-desaturated-blue);
        background-color: var(--neutral-white);
        margin-inline-start: var(--navbar-padding-inline);
        margin-block-start: initial;
        /* below rule, otherwise the text tends to be higher rather than centered vertically in desktop mode */
        align-self: center; 
    }

    .navbar__link.accent-link:hover {
        color: var(--neutral-white);
        background-color: var(--neutral-white-shade);
    }
}

/* the hamburger icon */
#open-sidebar-button {
    /* below not required since there is a space-between in header-wrapper */
    /* margin-left: auto; */
    /* next three statements may not be required but just for... */
    display: block;
    background: none;
    border: none;
    /* to enlarge the clickable target area */
    padding-block: .5em;
    cursor: pointer;
}

#overlay {
    /* no background color since the design doesn't have one */
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

.navbar.show {
    opacity: 1;
    visibility: visible;
}

.navbar.show~#overlay {
    display: block;
}

/* not used in this short landing page */
/* .skip-link {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: var(--accent-color);
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.skip-link:focus {
    opacity: 1;
    pointer-events: auto;
    outline: 3px solid #ffffff;
} */

.panel-about,
.panel-services {
    background-color: var(--neutral-white);
}

/* .panel-about is just display: block in mobile mode */
.panel-services {
    display: grid;
}

.panel-services * {
    /* place all elements of panel-services inside the grid */
    grid-area: 1/-1;
}

/* for responsiveness of the image */
.panel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 600px) {
    /* change the aspect-ratio for the images in panel for the specific viewport width(s), since it's too big otherwise */
    .panel-services {
        aspect-ratio: 1/1.2;
        object-position: 50% 40%;
    }
}

.panel__text {
    text-align: center;
    padding-block: 6em;
}

.panel__text-about--align {
    /* 375-700px, 2.5-8.75rem */
    padding-inline: clamp(2.5rem, -4.7115rem + 30.7692vw, 8.75rem);
} 

.panel__text-services--align {
    align-self: end;
    /* 375-700px, 1.5-8.75rem */
    padding-inline: clamp(1.5rem, -6.8654rem + 35.6923vw, 8.75rem);
}

.panel__text-title,
.panel__text-link {
    font-family: "Fraunces", serif;
    color: var(--neutral-very-dark-desaturated-blue, black);
}

.panel__text-title {
    font-size: 2rem;
    line-height: 1.2;
    /* spaces title from text-content */
    margin-block-end: 1.5em;
    /* set so that h3 line wraps according to the design */
    max-width: 8em;
    /* centers title */
    margin-inline: auto;    
}

.panel__text-title--medium {
    /* for panel-services, a slightly smaller font for the title */
    font-size: 1.4em;
}

.panel__text-content {
    font-family: "Barlow", serif;
    color: var(--neutral-very-dark-desaturated-blue, black);
    /* spaces content from text-link */
    margin-block-end: 2em;
}

.panel__text-content--medium {
    font-size: .95em;
}

.panel__text-link {
    z-index: 5;
    font-size: .9em;
    text-transform: uppercase;
    padding-inline: .5em;
    text-decoration: none;
    position: relative; 
}

/* DuckDuckGo's AI gave this hint with search prompt: 'blurring underline of anchor tag' */
/* Me: Added z-index and adjusted stuff, replaced top, bottom with inset-xxx */
.panel__text-link::after {
    content: '';
    position: absolute;
    z-index: -5;
    /* left: 0;
    bottom: 0; */
    inset-inline: 0;
    inset-block-end: 0;
    height: .3em;   /* Height of the underline */
    width: 100%;    /* Full width of the link */
    filter: blur(2px);
    opacity: 0.5;
}

.panel__text-link--yellow::after {
    /* one panel had a light yellow underline link */
    background-color: var(--primary-yellow);
}

.panel__text-link--soft-red::after {
    /* another panel has a light red underline link */
    background-color: var(--primary-soft-red);
}

.panel__text-link:hover::after,
.panel__text-link:focus::after {
    opacity: 1;
}

/* sets formatting for the main block of 'clients' */
.clients {
    /* for mobile */
    padding-block-start: 3.5em;
    padding-block-end: 5em;
    text-align: center;
    background-color: var(--neutral-white);
}

.clients__header {
    text-transform: uppercase;
    letter-spacing: .3em;
}

.clients__header,
.customer_position {
    color: var(--neutral-very-dark-grayish-blue);
}

.card {
    /* limit card width to: */
    max-width: 21em;
    /* separates each card vertically */
    margin-block-start: 4em;
    /* centers the card horizontally */
    margin-inline: auto;
}

.card > * {
    /* centers elements inside the card */
    /* for the image */
    margin: 0 auto;
    /* for the text */
    text-align: center;
}

.card__customer-image {
    /* rounds the image */
    border-radius: 50%;
    /* sizes it accordingly, 72px */
    width: 4em;
}

.card__comment {
    /* values chosen to adhere to the design */
    padding-block: 2.3em;
    padding-inline: 1em;
}

.card__comment,
.card__customer-position {
    font-family: "Barlow", sans-serif;
}

.card__customer-position {
    font-size: .85em;
}

.card__customer-name {
    font-family: "Fraunces", serif;
    /* slightly spaces name from position vertically */
    padding-block-end: .5em;
}

.photo-bar {
    display: flex;
    flex-wrap: wrap;
}

.photo-bar picture {
    /* allows two images side-by-side in viewports < 700px */
    width: 50%;
}

footer {
    /* given color in design was too dark */
    /* background-color: var(--primary-dark-moderate-cyan); */
    background-color: hsl(169, 42%, 65%);
    padding: 2em;
    height: 20em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sunnyfooter {
    fill: var(--primary-dark-desaturated-cyan);
}

.lower-links, .socials {
    /* sets width. Not max-width, doing that would bunch up the lists */
    width: 18em;
    /* removes default bullet points */
    list-style: none;
    /* puts li(s) side-by-side */
    display: flex;
}

.lower-link__item,
.social-link__item {
    font-family: "Barlow", serif;
    /* removes default link underlines */
    text-decoration: none;
    /* sets color to */
    color: var(--primary-dark-desaturated-cyan)
}

.lower-link__item:hover,
.social-link__item:hover > img,
.lower-link__item:focus,
.social-link__item:focus > img {
    /* focus is for tabbing with keyboard */
    color: var(--neutral-white);
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.lower-links {
    /* spaces items apart */
    justify-content: space-between;
}

.socials {
    /* to adhere more closely to the design */
    margin-block-start: 2em;
    /* spaces items apart */
    justify-content: space-evenly;
}

.attribution {
    margin-inline: auto;
    font-size: 11px;
    text-align: center;
    background-color: var(--neutral-white);
    max-width: 1440px;
}

.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 700px) {
    /* for viewport larger than 700px and less than 1201px */
    .hero {
        /* makes it look better, otherwise it's suddenly too big */
        aspect-ratio: 5/4;
    }

    .hero-image > img {
        height: 105%;
        object-fit: cover;
    }

    .hero-text {
        /* Optional, but here anyways. The text is just one line. */
        line-height: revert;
    }

    .arrow-down {
        grid-area: 4/1/6/-1;

    }
    /* hides the hamburger on larger viewports */
    #open-sidebar-button{
        display: none;            
    }

    /* places navigation items in a line in a larger viewport */
    .navbar__list {
        display: flex;
        margin-block: unset;
    }

    .navbar__link {
        color: var(--neutral-white);
        /* removes margin set in mobile mode, otherwise items not inline with logo */
        margin-block-end: unset;
    }
   
    .main-feature {
        display: flex;
        flex-wrap: wrap;
    }

    .panel-about {
        /* places image and text panels side by side */
        display: flex;
    }

    .panel-about:first-of-type {
        /* swaps text panel and image panel for the first about panel (the egg) */
        flex-direction: row-reverse;
    }

    /* 'tis to keep the text class in egg and cup from being wider than the image */
    /* it does make the text class in cherry and kumquat rather slim */
    .panel__text {
        --wide-left-right: clamp(2rem, -7.4595rem + 21.6216vw, 12rem);
        --thin-left-right: clamp(2rem, -3.6757rem + 12.973vw, 8rem);
        padding-block: clamp(3rem, 1.1081rem + 4.3243vw, 5rem);
        /* limits text panel in panel-about to occupy 50%  of the width */
        max-width: 50%;
    }

    .panel__text-about--align {
        text-align: left;
        align-self: center;
    }

    .panel__text-title {
        /* returns the h3 from being centered to left aligned */
        margin-inline: unset;
        /* set so that h3 line wraps according to the design */
        max-width: 11em;
    }

    .panel__text-title--medium {
        margin-inline: auto;
    }

    /* utility class */
    .wide-left {
        padding-inline-start: var(--wide-left-right);
        /* 700-1440px, 2-12rem, left padding grows larger than right */
        padding-inline-end: var(--thin-left-right);
        /* 700-1440px, 2-8rem, right padding grows smaller than left */
    }

    /* utility class */
    .wide-right {
        padding-inline-start: var(--thin-left-right);
        /* 700-1440px, 2-8rem, left padding grows smaller than right */
        padding-inline-end: var(--wide-left-right);
        /* 700-1440px, 2-12rem, right padding grows larger than left */
    }

    .panel-services {
        /* to make both text and image panels equal */
        max-width: 50%;
        /* control image size as viewport is varied */
        aspect-ratio: 1/1.15;
    }
    /* somewhere around 700.72px the image shown is the mobile version */
    /* I wonder how that is. Firefox and Chrome both do this. */
    
    .panel__text-services--align {
        max-width: unset;
        padding-inline: clamp(1.25rem, -8.9189rem + 23.2432vw, 12rem);
        /* 700-1440px, 1.5-12rem */
        padding-block: clamp(0.1rem, -4.5351rem + 10.5946vw, 5rem);
    }
    
    .clients {
        /* puts more whitespace for desktop */
        padding-block: 12em;
    }

    .testimonials-wrapper {
        /* limit the wrapper to 65em */
        max-width: 65em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* center the wrapper inside the container */
        margin-inline: auto;
    }

    .photo-bar picture {
        /* allows for four images side-by-side */
        width: 25%;
    }
}

@media screen and (min-width: 1000px) {
    .panel-services {
        aspect-ratio: 1/1;
    }
}

@media screen and (min-width: 1201px) {
    .hero {
        aspect-ratio: 9/5;
    }

    .hero-image > img {
        /* may not be totally required */
        height: 100%;
    }

    .hero-text {
        grid-area: 2/1/4/-1;
    }

    .arrow-down {
        grid-area: 3/1/5/-1;
        place-self: end center;
    }

    .panel-services {
        aspect-ratio: initial;
    }
}